<div class="container mt-5">
    <div class="card p-4 shadow text-center">
        <h2>Welcome, @ViewBag.User 👋</h2>

        <a href="/HR/Index" class="btn btn-info m-2">HR Panel</a>
        <a href="/Employee/Register" class="btn btn-success m-2">Add Employee</a>
        <a href="/Account/Logout" class="btn btn-danger m-2">Logout</a>
    </div>
</div>