<div class="container text-center mt-5">

    <h1 class="display-5 text-secondary">
        Welcome to Product Management Dashboard
    </h1>

    <p class="text-muted">
        Manage products, monitor actions, and view logs using ASP.NET Core MVC.
    </p>

    <a href="/Product/Index" class="btn btn-soft btn-lg mt-3">
        Open Product Module
    </a>

</div>