@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container text-center">

    <h1 class="home-title">
        Welcome to Student Registration System
    </h1>

    <p class="home-subtitle">
        A simple ASP.NET Core MVC application to register students
        using Model Binding and Validation.
    </p>

    <div class="mt-4">
        <a href="/Student/Register" class="btn btn-soft-primary btn-lg">
            Register a Student
        </a>
    </div>

</div>